@use "base";
@use "index";
@use "public";
@use "about";

header {

  .flex.link {

    a:nth-child(4) {
      color: base.$blue;
    }
    a:nth-child(3) {
      color: #F0145A;
    }

  }

}


main {
  h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    min-width: 315px;
    margin-top: 30px;
    height: auto;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      min-width: 648px;
      height: auto;
      margin-top: 30px;
    }
    @media screen and (min-width: 1024px) {
      min-width: 664px;
      height: auto;
      margin-top: 0;
    }
  }

  .team {
    display: flex;
    flex-direction: column;
    margin: 0 0 60px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 60px;
    }

    &__player {
      margin: 0 auto;

      .photo img {
        border-radius: 12px;
        margin: 30px 0 15px;
        width: 100%;
        max-width: 315px;
        height: 300px;
        object-fit: cover;


        @media screen and (min-width: 768px) {
          width: 100%;
          max-width: 294px;
          height: 400px;
          object-fit: cover;
          display: flex;
          flex-direction: row;


        }
        @media screen and (min-width: 1024px) {
          width: 100%;
          max-width: 261px;
        }
        @media screen and (min-width: 1440px) {
          width: 100%;
          max-width: 400px;
          object-fit: cover;
        }
      }

      .name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        @media screen and (min-width: 768px) {

        }
      }

      .name p:nth-child(1) {
        color: base.$main-color;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;


      }

      .role {
        color: base.$grey-text;
        font-size: 14px;
        font-weight: 400;
        line-height: 157.143%;
      }


    }


  }


}

.footer {
  hr {
    height: 0;
  }
}
